<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.rex.easymusic">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 相机权限 -->
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".Application.MusicApplication"
        android:allowBackup="true"
        android:icon="@mipmap/music_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/music_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Activity.Splash_screenActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activity.MainActivity"
            android:windowSoftInputMode="adjustResize"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="Main" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.PlayerService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".Activity.PlayMusicActivity"
            android:launchMode="singleInstance" />
        <activity
            android:name=".Activity.SearchMusicActivity"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustPan">
            <intent-filter>
                <action android:name="SearchMusic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.ServiceActivity" />
        <activity android:name=".Activity.RankActivity">
            <intent-filter>
                <action android:name="RankMusic" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver
            android:name=".BroadCast.DownloadRecevier"
            android:enabled="true"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />
        <receiver
            android:name=".BroadCast.NotificationRecevier"
            android:enabled="true"
            android:exported="true"
            tools:ignore="InnerclassSeparator" />

        <activity
            android:name=".Activity.SingerSongActivity"
            android:label="@string/title_activity_singer"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activity.RecommendSongListActivity"
            android:label="@string/title_activity_recommend_song_list"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activity.RecommendNewSongActivity" />
        <activity android:name=".Activity.Login.LoginActivity" />
        <activity android:name=".Activity.Login.RegisterActivity" />
        <activity android:name=".Activity.Login.RetrievePasswordActivity" />
        <activity android:name=".Activity.Login.verificationCodeActivity" />
        <activity android:name=".Activity.Login.ReSetPasswordActivity" />
        <activity android:name=".Activity.UserInfoActivity" />
        <activity android:name=".Activity.LocalMusicActivity" />
        <activity android:name=".Activity.RecentPlayActivity" />
        <activity android:name=".Activity.FavouriteMusicActivity" />
        <activity android:name=".Activity.SongListActivity"></activity>
    </application>

</manifest>